---
import Base from "../layouts/Base.astro";
import Header from "../layouts/Header.astro";
import AssetsImage from "../components/common/AssetsImage.astro";
import AssetsPicture from "../components/common/AssetsPicture.astro";
import RoundLink from "../components/ui/RoundLink.astro";
import Picture from "../components/common/Picture.astro";
import RoundedLink from "../components/ui/RoundLink.astro";
---

<Base pageMeta="page" pageData="02">
  <!-- body内の要素 -->
  <Header />
  <main class="page_contents">
    <h1 class="page_title">02. アクセシブルなアコーディオンの実装</h1>

    <div class="page_wrap">
      <section class="page_section">
        <article class="page_article">
          <h2 class="page_title_02">アクセシブルなアコーディオンとは？</h2>
          <p class="page_text">
            アクセシブルなアコーディオンとは、誰もが安心して利用できる開閉式のUIコンポーネントのことです。マウス操作だけでなく、キーボードやスクリーンリーダーでも正しく操作・理解できるよう、セマンティックなHTMLやARIA属性を使って実装します。
          </p>
        </article>
      </section>
      <section class="page_section">
        <article class="page_article">
          <h2 class="page_title_02">OKな例</h2>
          <div class="page_block">
            <details
              class="page_details"
              name="accordion"
              data-ok-accordion="closed"
            >
              <summary class="page_summary" data-ok-trigger>
                details・summaryで作ったアコーディオン
                <span class="page_icon" data-ok-icon></span>
              </summary>
              <div
                class="page_wrap"
                style="overflow: hidden;height:0;"
                data-ok-text
              >
                <p class="page_text">
                  キーボード操作に対応しており、TabキーやEnter/Spaceキーで開閉できます。<br
                  />
                  スクリーンリーダーにも「開閉できるセクション」として正しく伝わるため、視覚以外の手段でも理解しやすい構造になっています。
                </p>
              </div>
            </details>
          </div>
        </article>
      </section>
      <section class="page_section">
        <article class="page_article">
          <h2 class="page_title_02">NGな例</h2>
          <div class="page_block">
            <div class="page_details" data-ng-accordion="closed">
              <div class="page_summary" data-ng-trigger>
                divで作ったアコーディオン<span class="page_icon" data-ng-icon
                ></span>
              </div>
              <div
                class="page_wrap"
                data-ng-text
                style="overflow: hidden;height:0;"
              >
                <p class="page_text">
                  キーボード操作には対応していません。<br />
                  そのため、操作できるようにするには、開閉処理やフォーカス制御などをJavaScriptで自前で実装する必要があります。<br
                  />
                  また、セマンティックな意味を持たないため、スクリーンリーダーなどの支援技術にも内容が正しく伝わらない可能性があります。
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="page_col">
            <div class="page_block">
              <div class="page_box"></div>
              <h3 class="page_title_03">h3の使い所</h3>
              <p class="page_text">
                h3はh2の下層にあたる小見出しとして使用されます。例えば、ひとつのトピックの中に複数のサブテーマがある場合、それらをh3で整理すると読みやすくなります。
              </p>
            </div>

            <div class="page_block">
              <div class="page_box"></div>
              <h3 class="page_title_03">h3を使った整理術</h3>
              <p class="page_text">
                過剰に階層化するのは避けつつ、必要に応じてh3を用いて情報を整理しましょう。これにより、ページ全体が論理的に構成され、視覚的にもアクセシブルになります。
              </p>
            </div>
          </div> -->
        </article>
      </section>

      <section class="page_section">
        <article class="page_article">
          <h2 class="page_title_02">まとめ</h2>
          <p class="page_text">
            details / summary
            を使えば、基本的なアクセシビリティ（キーボード操作やスクリーンリーダー対応）を標準で備えた簡潔な実装が可能です。<br
            />
            divタグだけで作るアコーディオンは、操作性や支援技術への配慮が不足しがちであり、正しく機能させるためにはJavaScriptやARIA属性を自前で実装する必要があります。<br
            />
            アクセシブルなWebを目指すうえで、「意味のあるタグを選び、誰もが操作できるように作ること」が重要です。(テキストはAIで生成してhtml・css・jsは自分で実装)
          </p>
        </article>
      </section>
    </div>
  </main>
</Base>

<style lang="scss">
  .page_contents {
    margin-right: auto;
    margin-left: auto;
    @include media(sp) {
      padding-top: sp_rem(40);
      padding-bottom: sp_rem(40);
      width: sp_rem(345);
    }
    @include media(pc) {
      padding-top: pc_rem(80);
      padding-bottom: pc_rem(80);
      width: pc_rem(1000);
    }
    > .page_title {
      color: var(--blue-01);
      text-align: center;
      letter-spacing: 0.04em;
      @include font-Bold;
      @include media(sp) {
        font-size: sp_rem(32);
      }
      @include media(pc) {
        font-size: pc_rem(40);
      }
    }
    > .page_wrap {
      display: flex;
      flex-direction: column;
      @include media(sp) {
        margin-top: sp_rem(40);
        row-gap: sp_rem(40);
      }
      @include media(pc) {
        margin-top: pc_rem(80);
        row-gap: pc_rem(80);
      }
      > .page_section {
        > .page_article {
          .page_title_02 {
            @include font-Bold;
            @include media(sp) {
              font-size: sp_rem(26);
            }
            @include media(pc) {
              font-size: pc_rem(32);
            }
          }
          .page_block {
            @include media(sp) {
              margin-top: sp_rem(24);
            }
            @include media(pc) {
              margin-top: pc_rem(24);
            }
            .page_details {
              background-color: var(--whitw-01);
              @media (any-hover: hover) {
                &:hover {
                  cursor: pointer;
                }
              }
              .page_summary {
                color: var(--blue-01);
                display: block;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include font-Bold;
                @include media(sp) {
                  font-size: sp_rem(12);
                  padding: sp_rem(24);
                  border: sp_rem(1) solid var(--blue-02);
                }
                @include media(pc) {
                  font-size: pc_rem(18);
                  padding: pc_rem(24);
                  border: pc_rem(1) solid var(--blue-02);
                }
                &::-webkit-details-marker {
                  display: none;
                }
                .page_icon {
                  display: block;
                  position: relative;
                  transform-origin: center 43%;
                  transition: transform 0.4s;
                  /* アイコンのバーのスタイル */
                  @include media(sp) {
                    width: sp_rem(24);
                  }
                  @include media(pc) {
                    width: pc_rem(24);
                  }
                  &::before,
                  &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    background-color: var(--blue-01);
                    @include media(sp) {
                      width: sp_rem(15);
                      height: sp_rem(3);
                    }
                    @include media(pc) {
                      width: pc_rem(15);
                      height: pc_rem(3);
                    }
                  }
                  &::before {
                    left: 0;
                    transform: rotate(45deg);
                  }
                  &::after {
                    right: 0;
                    transform: rotate(-45deg);
                  }
                }
              }
              .page_text {
                background-color: var(--blue-02);
                @include media(sp) {
                  font-size: sp_rem(12);
                  padding: sp_rem(24);
                }
                @include media(pc) {
                  font-size: pc_rem(18);
                  padding: pc_rem(24);
                }
              }
            }
          }
          > .page_text {
            @include font-Regular;
            @include media(sp) {
              font-size: sp_rem(12);
              margin-top: sp_rem(24);
            }
            @include media(pc) {
              font-size: pc_rem(18);
              margin-top: pc_rem(24);
            }
          }
          .page_title_03 {
            @include font-Bold;
            @include media(sp) {
              font-size: sp_rem(26);
              margin-top: sp_rem(8);
            }
            @include media(pc) {
              font-size: pc_rem(26);
              margin-top: pc_rem(8);
            }
          }
          > .page_col {
            display: grid;
            @include media(sp) {
              row-gap: sp_rem(40);
              margin-top: sp_rem(24);
              grid-template-columns: repeat(1, 1fr);
            }
            @include media(pc) {
              column-gap: pc_rem(40);
              margin-top: pc_rem(24);
              grid-template-columns: repeat(2, 1fr);
            }
            > .page_block {
              > .page_box {
                width: 100%;
                aspect-ratio: 16/ 9;
                background-color: var(--blue-02);
              }
            }
          }
        }
      }
    }
  }
</style>
